@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&family=Inter:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a1a1aa;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(175, 177, 177);
    transition: all 0.3s ease-in-out;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    display: none; /* Remove a seta do calendário do WebKit */
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  textarea {
    all: unset;
  }
}

body {
  overflow-x: hidden;
  background-color: #f1f5f9;
}
